<a href="https://colab.research.google.com/github/tjqldgkrl/Machine_LearningStudy/blob/main/Task1_I_Linearmodels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1-I : Linear Models

* We will learn linear regression

In [1]:
###################
## Run this cell ##
###################
import pandas as pd
from sklearn.datasets import load_boston

boston = load_boston()

df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['MEDV'] = boston.target
print("1 row is not about one house but one town ")
print(boston.DESCR)

1 row is not about one house but one town
.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [2]:
df['MEDV']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

# Q1. Split the df into training set & test set

1. x : all columns in df except 'MEDV'
2. y : the column 'MEDV' in df (df['MEDV'])
3. variable names :
    * x_train, y_train
    * x_test, y_test
4. train : test = 8 : 2
5. randomstate : 2021

Question : Why we need to prepare test set?

**Your Answer :**

In [3]:
#################################################
## This cell will not be provided, after Task1 ##
#################################################
#model 구축이 잘돼있는지 확인하는 과정#
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.drop(['MEDV'], axis=1), df['MEDV'],
                                                    test_size=0.2, random_state=2021 )

In [4]:
x_train

         CRIM     ZN  INDUS  CHAS    NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
28    0.77299    0.0   8.14   0.0  0.538  ...   4.0  307.0     21.0  387.94  12.80
498   0.23912    0.0   9.69   0.0  0.585  ...   6.0  391.0     19.2  396.90  12.92
284   0.00906   90.0   2.97   0.0  0.400  ...   1.0  285.0     15.3  394.72   7.85
414  45.74610    0.0  18.10   0.0  0.693  ...  24.0  666.0     20.2   88.27  36.98
123   0.15038    0.0  25.65   0.0  0.581  ...   2.0  188.0     19.1  370.31  25.41
..        ...    ...    ...   ...    ...  ...   ...    ...      ...     ...    ...
109   0.26363    0.0   8.56   0.0  0.520  ...   5.0  384.0     20.9  391.23  15.55
128   0.32543    0.0  21.89   0.0  0.624  ...   4.0  437.0     21.2  396.90  15.39
57    0.01432  100.0   1.32   0.0  0.411  ...   5.0  256.0     15.1  392.90   3.95
341   0.01301   35.0   1.52   0.0  0.442  ...   1.0  284.0     15.5  394.74   5.49
116   0.13158    0.0  10.01   0.0  0.547  ...   6.0  432.0     17.8  393.30  12.04

[404 rows x 13 columns]

# Q2. Train linear regression model

1. declare your model as lr

In [5]:
####################
## Your code here ##
####################
from sklearn.linear_model import LinearRegression
model =  LinearRegression()
model.fit(x_train,y_train) 
#데이터셋을 학습시킬땐, test셋을 제외한 train셋만으로 학습시켜야된다.

# Q3. Make a prediction
1. y_pred_train : prediction on training set
2. y_pred_test : prediction on test set

In [10]:
####################
## Your code here ##
####################

#model.fit(df.drop(['MEDV'], axis=1), df['MEDV'])
y_pred_train = model.predict(x_train)
y_pred_test = model.predict(x_test)

# Q4. Evaluate the model on the training set & test set

* Use RMSE

Question : If rmse is 4, can we say the error of our model is $4? 

**Your Answer :**

In [11]:
####################
## Your code here ##
####################
#rmse란 말그대로 실험이나 관측에서 나타나는 오차(Error)를 제곱(Square)해서 평균(Mean)한 값의 제곱근(Root)이다.
#rmse값은 결국 오차(실제값-관측값)와 관련된 값이므로 작을수록 정밀도가 높은 것 입니다.
import numpy as np
from sklearn.metrics import mean_squared_error

def RMSE(y, pred):
    return np.sqrt(np.mean(np.square(y-pred)))

RMSE(y_train,y_pred_train),RMSE(y_test,y_pred_test)

#rmse2 = mean_squared_error(y_test,y_pred_test)**0.5
#print(rmse2)

(4.6746677866213036, 4.826999984002403)

# Q5. Complete the equation of the linear regression model

\begin{align}
MEDV = \beta_0 &\ + \beta_1*CRIM + \beta_2*ZN + \beta_3*INDUS + \beta_4*CHAS \\
&+ \beta_5*NOX + \beta_6*RM + \beta_7*AGE + \beta_8*DIS + \beta_9*RAD \\
& + \beta_{10}*TAX + \beta_{11}*PTRATIO + \beta_{12}*B + \beta_{13}*LSTAT
\end{align}

* print $ \beta_0 $ ~ $ \beta_{13} $ with feature(column) name
* example
```
beta_0 for intercept : 21
beta_1 for CRIM : - 12
~~~
beta_13 for LSTAT : -5 
```

In [12]:
####################
## Your code here ##
####################
print("beta_0 for intercept :",model.intercept_)
name = df.drop("MEDV",axis=1).columns
for i in range(0,13):
    print(f"beta_{i+1} {name[i]} : {model.coef_[i]}")

beta_0 for intercept : 35.074446443842035
beta_1 CRIM : -0.11455671812732975
beta_2 ZN : 0.05323427588138077
beta_3 INDUS : 0.003283317180316192
beta_4 CHAS : 3.508465036705998
beta_5 NOX : -18.13566684114273
beta_6 RM : 3.8252394730909423
beta_7 AGE : 0.011058249800921273
beta_8 DIS : -1.529967394769819
beta_9 RAD : 0.33922130811188655
beta_10 TAX : -0.011867833580858023
beta_11 PTRATIO : -0.8842149500225382
beta_12 B : 0.009528304243272022
beta_13 LSTAT : -0.57816905178081

# Q6. Analyze the effect of 'RM' (average average number of rooms per dwelling)

**assumption1 : every other features are fixed.**<br>
**assumption2 : use training set to anlayze.**
1. How does the 'MEDV(house price)' change when 'RM' increases by 1 ?
2. What is the change in the 'MEDV' due to the standard deviation(std) of 'RM'
    * hint : beta_6 * std('RM')
    * you can regard std('RM') as a mean variablity of 'RM' ( roughly )
3. What is the change in the 'MEDV' due to the maximum change of 'RM'
    * hint : maximum change of 'RM' = max('RM') - min('RM')

In [13]:
####################
## Your code here ##
####################
model.fit(x_train,y_train)
coef = model.coef_[name=='RM']
print(coef)
#df["RM"].max(), df["RM"].min(), df["RM"].mean(), df["RM"].std())

std = df["RM"].std()
print(coef*std)
max_change = df["RM"].max() - df["RM"].min()
print(coef*max_change)

[3.82523947]
[2.68767883]
[19.96392481]

# Q7. Analyze the effect of 'NOX' ( nitric oxides concentration (parts per 10 million) )

**assumption1 : every other features are fixed.**<br>
**assumption2 : use training set to anlayze.**
1. How does the 'MEDV(house price)' change when 'NOX' increases by 1 ?
2. Can 'NOX' change by 1 in the data?
3. What is the change in the 'MEDV' due to the standard deviation(std) of 'NOX'
4. What is the change in the 'MEDV' due to the maximum change of 'NOX'

In [16]:
####################
## Your code here ##
####################
coef_NOX = model.coef_[name == "NOX"]
print(coef_NOX)
df["NOX"].max(), df["NOX"].min(), df["NOX"].max()- df["NOX"].min()
print("최대 변화량이 1이 넘지 않으므로 변할 수 없다")
std = df["NOX"].std()
print(coef_NOX*std)
max_change = df["NOX"].max() - df["NOX"].min()
print(coef_NOX*max_change)

[-18.13566684]
최대 변화량이 1이 넘지 않으므로 변할 수 없다
[-2.10151892]
[-8.81393408]

# Q8. Anlayze the intercept
**assumption1 : use training set to anlayze.**
1. What is the expected mean value of 'MEDV' in $ when all features(x) have no effect
    * you can regard intercept as default value of 'MEDV' ( roughly )
    * be careful : in $, not in $1,000
2. Can all features(x) be zero in the data?
    * Can all features(x) have no effect?

In [18]:
####################
## Your code here ##
####################

print(f"{model.intercept_*1000}")
print("impossible")

35074.44644384203
impossible